@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

html
	font-size: 62.5%

	// блокировка скролла
	&.css-scroll-fixed
		+scroll-blocked()

body
	+font-light
	+font($font-size, $line-height)
	letter-spacing: $letter-spacing
	color: $text-color
	background: $bg-color url(../../img/bg-main-01.jpg) no-repeat center fixed
	background-size: cover

	// выделение текста
	*::selection
		background-color: $base-color
		color: white

	&.home-page
		height: 100%
		overflow: hidden

		.no-js &
			height: auto
			overflow: visible

		+media('<tab-lg')
			overflow: visible
			height: auto

h1, h2, h3, h4, h5, h6
	padding: 0
	+font-alt-bold
	color: $title-color
	margin: 0 0 $bottom-space

	+media('<mob-lg')
		margin-bottom: round-float($bottom-space*0.85, 1)

	&:last-child
		margin-bottom: 0

	a
		text-decoration: none
		color: inherit

		.no-touchevents &:hover
			color: $base-color
			text-decoration: underline

h1
	+font($font-size-h1, $line-height-h1)

	+media('<mob-lg')
		+font($font-size-h1--sm, $line-height-h1--sm)

h2
	+font($font-size-h2, $line-height-h2)

	+media('<mob-lg')
		+font($font-size-h2--sm, $line-height-h2--sm)

h3
	+font($font-size-h3, $line-height-h3)

h4
	+font($font-size-h4, $line-height-h4)

h5
	+font($font-size-h5, $line-height-h5)

h6
	+font($font-size-h6, $line-height-h6)
	text-transform: uppercase

p
	padding: 0
	margin: 0 0 $bottom-space

hr
	line-height: 1px
	height: 0
	border: none
	background: none
	border-bottom: 1px solid $border-color
	margin-bottom: $bottom-space

a
	color: $link-color
	text-decoration: underline
	cursor: default
	outline: none

	&:link
		cursor: pointer

	.no-touchevents &:hover
		text-decoration: none

	&[href^="tel"], .no-touchevents &[href^="tel"]:hover
		text-decoration: none !important
		color: inherit
		cursor: default

	&[href^="javascript:"]
		cursor: default

img
	border: none
	vertical-align: top
	max-width: 100%

	table &
		max-width: none

b, strong, th
	+font-bold

i, em
	+font-italic

i b, i strong, em b, em strong, b i, b em, strong i, strong em
	+font-bold-italic

.mark
	color: $mark-color
	font-style: inherit
	font-weight: inherit

.text-color-alt
	color: $base-color

.align-center
	text-align: center

.align-left
	text-align: left

.align-right
	text-align: right

.float-left
	float: left

.float-right
	float: right

.nobr
	white-space: nowrap

.hide-text
	+hide-text