@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*scroll sections

// fading
.fp-section
	width: 100% !important
	position: absolute
	left: 0
	top: 0
	visibility: hidden
	opacity: 0

	&.active
		visibility: visible
		opacity: 1

.fp-slidesContainer
	width: 100% !important
	transform: none!important

.fp-slide
	width: 100% !important
	position: absolute
	left: 0
	top: 0
	visibility: hidden
	opacity: 0

	&.active
		visibility: visible
		opacity: 1

.fp-slide, .fp-section
	transition: all 0.7s ease

// fading

//.main-section-js
	position: relative

.main-section__container
	height: 100%

.main-section__bg
	position: absolute
	left: 0
	top: 0
	+size(100%)
	z-index: -1

	& > div
		position: absolute
		left: 0
		top: 0
		+size(100%)
		text-indent: -9999px
		overflow: hidden
		font-size: 0
		line-height: 0
		background-position: center
		background-repeat: no-repeat
		background-size: cover

.main-section__align
	height: 100%
	margin: 0 auto

.main-section--main
	display: table
	table-layout: fixed
	width: 100%
	text-align: center

	.main-section__container
		display: table-cell
		vertical-align: middle

	.main-section__align
		height: auto
		
	h1, .main-section__title
		+font-title
		+font(100px, 1)
		text-transform: uppercase
		color: white

.row-video
	margin-bottom: 140px
	margin-bottom: 12vh

	&:last-child
		margin-bottom: 0

.row-callback
	margin-bottom: 100px
	margin-bottom: 8vh

	&:last-child
		margin-bottom: 0

.row-scroll
	color: white
	fill: white
	margin-bottom: 20px
	margin-bottom: 4vh

	&:last-child
		margin-bottom: 0

	a
		color: inherit
		fill: inherit

	svg
		+display-inline-block-top
		+size(50px)

	path
		fill: inherit

/*scroll sections end

/* fullpage navigation
// #fp-nav
/* fullpage navigation end

/* main slider
.main-slider
	//width: 600px
	height: 100%
	width: 100%
	background-color: transparent

.parallax-bg
	position: absolute
	left: 0
	top: 0
	+size(150%, 100%)

	& > div
		text-indent: -9999px
		overflow: hidden
		position: absolute
		left: 0
		top: 0
		+size(100%)
		background-size: 100% 100%
		background-position: center
		//opacity: 0
		//transform: scale(1.2)
		//transform: scale(1.2) translateZ(0)
		will-change: opacity, transform
		transition:
			duration: 0.5s
			property: opacity, transform

		.active &
			//opacity: 1
			//transform: scale(1)
			//transform: scale(1) translateZ(0)
			transition:
				duration: 1s

.main-slider-prev, .main-slider-next, .main-slider-pagination, .main-slider__content
	user-select: none

.main-slider__item
	position: relative
	text-align: center
	overflow: hidden

.main-slider__img
	overflow: hidden
	z-index: -2

	img
		display: block
		margin: 0 auto
		//+size(100%)
		width: auto
		//max-width: none
		//+object-fit(cover)

.main-slider__content
	float: left
	width: 572px
	max-width: calc(100% - 10px)
	text-align: left
	margin-right: $layout-spaces
	color: white

	a
		color: white

.main-slider__img, .main-slider__content
	will-change: transform, opacity
	opacity: 0
	transition:
		property: transform, opacity
		duration: 1.5s

	.fp-section.active &
		opacity: 1

.main-slider__title
	display: block
	+font-title
	+font(72px, 1)
	color: white
	text-transform: uppercase
	cursor: default
	width: 700px
	max-width: 100%
	margin-bottom: 40px

	&:last-child
		margin-bottom: 0

.main-slider__text
	$line-height: round-float(28/24, 2)
	$font-size: 24px
	$font-size--hd: 22px
	// ===============
	display: block
	overflow: hidden
	margin-bottom: 30px
	max-width: 372px
	+font-alt
	+font($font-size, $line-height)
	max-height: round($font-size*$line-height*13) // maximum 13 line
	cursor: default

	&:last-child
		margin-bottom: 0

.main-slider__footer
	position: absolute
	left: 0
	width: 100%
	bottom: 80px
	bottom: 10vh
	text-align: center
	z-index: 10

.main-slider-pagination
	position: absolute
	top: auto
	left: 50%
	bottom: 85px
	bottom: 10vh
	width: $page-layout-width
	max-width: 100%
	transform: translate(-50%, 0)
	min-width: 35px
	padding-right: 20px
	+font(16px, round-float(24/16, 2))
	text-align: left
	text-transform: uppercase
	letter-spacing: 0.1em
	color: white

.main-slider-prev
	left: 80px

.main-slider-next
	right: 80px

/* main slider end

/* share
$social-share-space: 28px !default
$social-share-size: 40px !default

.social-share
	position: relative
	min-width: $social-share-size
	height: $social-share-size

.social-share__opener
	position: relative
	color: white
	fill: white
	text-decoration: none
	cursor: pointer
	overflow: hidden
	text-align: center
	user-select: none

	&::before, &::after
		$this-icon-lines-width: 16px
		$this-icon-lines-height: 4px
		$this-icon-lines-color: white
		// ==============
		+pseudo()
		left: 50%
		top: 50%
		margin: -1px 0 0 -8px
		border: none
		+size($this-icon-lines-width, $this-icon-lines-height)
		background-color: $this-icon-lines-color
		display: none

	&::before
		transform: rotate(-45deg)

	&::after
		transform: rotate(45deg)

	&:hover
		border-color: $link-color
		fill: $link-color

.social-share__list
	display: block
	position: absolute
	top: 100%
	left: 0
	width: 100%
	opacity: 0
	visibility: hidden
	transition:
		property: opacity, visibility
		duration: $animation-speed

.social-share__item
	display: block
	margin: #{round($social-share-space/2)} 0
	+font(14px, round-float(18/14, 2))
	text-align: center
	opacity: 0
	transition:
		property: transform, opacity
		duration: $animation-speed + 0.2s

	+space($space: 10px)

	a
		display: block
		position: relative
		color: white
		fill: white
		transition:
			property: color
			duration: $animation-speed

// icons
.social-share__opener, .social-share__item
	span
		+hide-text

	svg
		+display-inline-block-top
		+size($social-share-size)

	path
		fill: inherit
		transition:
			property: fill
			duration: $animation-speed

// hover
.social-share__item
	a:hover
		&.fb
			border-color: $facebook-color
			fill: $facebook-color

		&.vk
			border-color: $vkontakte-color
			fill: $vkontakte-color

		&.twitter
			border-color: $twitter-color
			fill: $twitter-color

		&.ok
			border-color: $odnoklassniki-color
			fill: $odnoklassniki-color

		&.youtube
			border-color: $youtube-color
			fill: $youtube-color

		&.instagram
			border-color: $instagram-color-end
			fill: $instagram-color-end

.is-open
	.social-share__list
		opacity: 1
		visibility: visible

		.social-share__item
			opacity: 1
			transform: translate(0, 0)

			+delay($delay: 0.2s)

/* share end

