@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/*scroll sections

// fading
.fp-section
	width: 100% !important
	position: absolute
	left: 0
	top: 0
	visibility: hidden
	opacity: 0

	+media('<tab-lg')
		position: relative
		left: auto
		top: auto
		visibility: visible
		opacity: 1

	&.active, .no-js &
		visibility: visible
		opacity: 1

.fp-slidesContainer
	width: 100% !important
	transform: none!important

.fp-slide
	width: 100% !important
	position: absolute
	left: 0
	top: 0
	visibility: hidden
	opacity: 0

	+media('<tab-lg')
		visibility: visible
		opacity: 1

	&.active
		visibility: visible
		opacity: 1

.fp-slide, .fp-section
	transition: all 0.7s ease

// fading

.main-section
	+media('<tab-lg')
		height: auto !important

		.swiper-container
			overflow: visible

.main-section__container
	height: 100%

.main-section__bg
	position: absolute
	left: 0
	top: 0
	+size(100%)
	z-index: -1

	+media('<tab-lg')
		display: none

	.scene__layer
		position: absolute
		left: 0
		top: 0
		+size(100%)

		& > div
			position: absolute
			left: -6%
			top: -6%
			+size(112%)
			text-indent: -9999px
			overflow: hidden
			font-size: 0
			line-height: 0
			background-position: center
			background-repeat: no-repeat
			background-size: cover

.main-section__align
	height: 100%
	margin: 0 auto

.main-section--main
	transition: none

	.main-section__holder
		display: table
		table-layout: fixed
		width: 100%
		height: 100%
		text-align: center
		transition:
			property: opacity, visibility
			duration: $animation-speed

		+media('<tab-lg')
			height: 100vh !important
			min-height: 480px
			opacity: 1
			visibility: visible

		+media('<mob-lg')
			display: block
			height: auto !important
			min-height: 0

	.main-section__container
		display: table-cell
		vertical-align: middle
		transition:
			property: opacity, visibility
			duration: $animation-speed

		+media('<mob-lg')
			display: block

	.main-section__align
		height: auto
		
	h1, .main-section__title
		+font-title
		font-size: 90px
		+font(9.4vh, 1.1)
		text-transform: uppercase
		color: white
		+push-auto
		margin-bottom: 0.3em

		+media('<desk-lg')
			font-size: 50px
			font-size: 7.6vh

		+media('<tab-lg')
			font-size: 46px

		+media('<mob-lg')
			margin-bottom: 0.8em

		+media('<mob-md')
			font-size: 36px

		&:last-child
			margin-bottom: 0

.row-video
	//margin-bottom: 100px
	//margin-bottom: 12vh
	margin-bottom: 45px
	margin-bottom: 6vh

	+media('<desk-lg')
		margin-bottom: 25px
		margin-bottom: 4vh

	+media('<desk-md')
		//margin-bottom: 60px
		//margin-bottom: 8vh
		margin-bottom: 15px
		margin-bottom: 2vh

	+media('<mob-lg')
		margin-bottom: 30px

	&:last-child
		margin-bottom: 0

.row-movies
	//margin-bottom: 100px
	//margin-bottom: 12vh
	+push-auto

	+media('<desk-md')
		//margin-bottom: 60px
		//margin-bottom: 8vh

	+media('<tab-lg')
		max-width: 640px

	+media('<mob-lg')
		margin-bottom: 20px

	+media('<mob-md')
		max-width: 280px

	&:last-child
		margin-bottom: 0

.movies
	+margin-horizontal(-25px)
	+clear

	+media('<desk-lg')
		+margin-horizontal(-15px)

	+media('<desk-sm')
		+margin-horizontal(-8px)

.movies__item
	float: left
	width: 20%
	+padding-horizontal(25px)
	margin-bottom: 28px
	margin-bottom: 3vh

	+media('<desk-lg')
		+padding-horizontal(15px)
		margin-bottom: 15px
		margin-bottom: 2vh

	+media('<desk-sm')
		+padding-horizontal(8px)

	+media('<tab-lg')
		width: 33.3%

	+media('<mob-lg')
		width: 50%
		margin-bottom: 40px

	+media('<mob-md')
		width: 100%

.movies__inner
	display: block
	text-decoration: none
	color: inherit

.movies__img
	position: relative
	//padding-bottom: 55.6%
	//height: 0
	filter: grayscale(1)
	box-shadow: 0 15px 35px #{rgba(#000, 0.25)}
	transition:
		property: box-shadow, filter
		duration: $animation-speed

	.movies &
		//padding-bottom: 55.6%
		margin-bottom: 2rem

		+media('<desk-lg')
			margin-bottom: 1rem

	&::before, &::after
		+pseudo()
		left: 50%
		top: 50%
		z-index: 1

	&::before
		$size: 50px, 36px // white, height
		+size(nth($size, 1), nth($size, 2))
		margin: -#{round(nth($size, 2)/2)} 0 0 -#{round(nth($size, 1)/2)}
		background-color: #000
		border-radius: 10px
		transition:
			property: background-color
			duration: $animation-speed

	&::after
		+triangle(right, #fff, 8px)
		margin: -8px 0 0 -4px

	img
		position: relative
		z-index: auto


// hover
.movies__inner:hover
	.movies__img
		box-shadow: 0 15px 35px #{rgba(#000, 0)}
		filter: grayscale(0)

		&::before
			background-color: $base-color

//.video iframe
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%

.movies__title
	display: block
	margin-bottom: 2rem
	+font-light
	+font(14px, 24px)
	letter-spacing: 0.1em
	color: white
	text-transform: uppercase
	overflow: hidden
	height: 48px

	+media('<desk-lg')
		+font(14px, 18px)
		height: 36px

	+media('<mob-md')
		height: auto

	&:last-child
		margin-bottom: 0

.row-callback
	margin-bottom: 28px
	margin-bottom: 3vh

	+media('<mob-lg')
		margin-bottom: 0

	&:last-child
		margin-bottom: 0

.row-scroll
	color: white
	fill: white
	margin-bottom: 20px
	margin-bottom: 3vh

	+media('<tab-lg')
		display: none

	&:last-child
		margin-bottom: 0

.move-next-section
	color: inherit
	fill: inherit

	svg
		+display-inline-block-top
		+size(50px)

	path
		fill: inherit
		transition:
			property: fill
			duration: $animation-speed

	&:hover
		path
			fill: $base-color

/*scroll sections end

/* fullpage navigation
// #fp-nav
/* fullpage navigation end

/* main slider
.main-slider
	//width: 600px
	height: 100%
	width: 100%
	background-color: transparent

	+media('<tab-lg')
		.swiper-wrapper
			display: block
			height: auto
			width: auto

.parallax-bg
	position: absolute
	left: -2%
	top: 0
	+size(150%, 100%)

	& ~ .parallax-bg
		width: 210%
		opacity: 0.5

	+media('<tab-lg')
		display: none

	.scene__layer
		position: absolute
		+size(100%)
		+position(0, 0)

		& > div
			text-indent: -9999px
			overflow: hidden
			position: absolute
			left: -6%
			top: -6%
			+size(112%)
			background-size: 100% 100%
			background-position: center
			//opacity: 0
			//transform: scale(1.2)
			//transform: scale(1.2) translateZ(0)
			will-change: opacity, transform
			transition:
				duration: 0.5s
				property: opacity, transform

			.active &
				//opacity: 1
				//transform: scale(1)
				//transform: scale(1) translateZ(0)
				transition:
					duration: 1s

.main-slider-prev, .main-slider-next, .main-slider-pagination, .main-slider__content
	user-select: none

.main-slider__title, .main-slider__img, .main-slider__text
	+media('<tab-lg')
		transform: none !important

.main-slider__item
	position: relative
	text-align: center
	overflow: hidden
	height: 100%

	&:nth-child(even)
		+media('<tab-lg')
			direction: rtl

		+media('<tab-sm')
			direction: ltr

	& > div
		+clear-spacing
		height: 100%

		&::before
			content: ""
			+display-inline-block-middle
			height: 100%

			+media('<tab-lg')
				content: none

.main-slider__img
	position: relative
	+display-inline-block-middle
	+font($font-size, $line-height)
	letter-spacing: normal
	height: 90%

	+media('<tab-lg')
		height: auto

	+media('<tab-sm')
		display: none
		max-width: 420px
		+push-auto

	.main-slider__content &
		display: none
		margin-bottom: 40px

		+media('<tab-sm')
			display: block

	img
		display: block
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		margin: 0 auto
		//+size(100%)
		width: auto
		max-height: 100%
		//max-width: none
		//+object-fit(cover)

		+media('<tab-lg')
			position: relative
			left: auto
			top: auto
			transform: none
			height: auto

.main-slider__content
	+display-inline-block-middle
	text-align: left
	letter-spacing: normal
	color: white

	+media('<tab-sm')
		display: block

	a
		color: white

.main-slider__img, .main-slider__content
	will-change: transform, opacity
	opacity: 0
	transition:
		property: transform, opacity
		duration: 1.5s

	+media('<tab-lg')
		opacity: 1
		.main-slider__item:nth-child(even) &
			direction: ltr

	.fp-section.active &
		opacity: 1

.main-slider__title
	display: block
	+font-title
	+font(68px, 1)
	color: white
	text-transform: uppercase
	cursor: default
	//width: 700px
	max-width: 100%
	margin-bottom: 40px

	+media('<desk-md')
		font-size: 56px

	+media('<desk-sm')
		font-size: 40px

	+media('<tab-sm')
		text-align: center

	+media('<mob-md')
		font-size: 36px

	&:last-child
		margin-bottom: 0

	& > em
		//display: none
		font-size: 0.9em

		//+media('<tab-lg')
			display: inline

.main-slider__text
	$line-height: round-float(28/24, 2)
	$font-size: 24px
	$font-size--lg: 20px
	$font-size--sm: 18px
	// ===============
	display: block
	overflow: hidden
	margin-bottom: 30px
	//max-width: 372px
	+font-alt
	+font($font-size, $line-height)
	max-height: round($font-size*$line-height*13) // maximum 13 line
	cursor: default

	+media('<desk-md')
		+font($font-size--lg, $line-height)
		max-height: round($font-size--lg*$line-height*13) // maximum 13 line

	+media('<desk-sm')
		+font($font-size--sm, $line-height)
		max-height: round($font-size--sm*$line-height*13) // maximum 13 line

	&, & b, & i
		+font-alt

	&:last-child
		margin-bottom: 0

.main-slider-prev, .main-slider-next
	+media('<tab-lg')
		display: none

.main-slider-pagination
	position: absolute
	top: auto
	left: 50%
	height: 0
	padding-right: 20px
	transform: translate(-50%, 0)
	+font(16px, 24px)
	margin-bottom: 12px
	text-align: left
	text-transform: uppercase
	letter-spacing: 0.1em
	color: white

	+media('<tab-lg')
		display: none

.main-slider__footer
	position: absolute
	left: 0
	width: 100%
	height: 0
	text-align: center
	z-index: 10

	+media('<tab-lg')
		position: relative
		left: auto
		width: auto

		transform: none

	& > div
		height: 100%

	a
		margin-top: -33px

		+media('<tab-lg')
			margin-top: 0

/* main slider end

/* developer
.dev
	position: fixed
	left: 50%
	height: 0
	width: 100%
	padding-right: 20px
	transform: translate(-50%, 0)
	+font(12px, 18px)
	margin-bottom: 9px
	text-align: right
	text-transform: uppercase
	letter-spacing: 0.1em
	color: #b3b3b3
	z-index: 99

	a
		color: inherit
		text-decoration: none

		span
			transition:
				property: color
				duration: $animation-speed
		
		.no-touchevents &:hover span
			color: #00ef85

/* developer end

/* share
$social-share-space: 28px !default
$social-share-size: 40px !default

.social-share
	position: relative
	min-width: $social-share-size
	height: $social-share-size

.social-share__opener
	display: block
	position: relative
	color: white
	fill: white
	text-decoration: none
	cursor: pointer
	overflow: hidden
	text-align: center
	user-select: none

	&::before, &::after
		$this-icon-lines-width: 16px
		$this-icon-lines-height: 4px
		$this-icon-lines-color: white
		// ==============
		+pseudo()
		left: 50%
		top: 50%
		margin: -1px 0 0 -8px
		border: none
		+size($this-icon-lines-width, $this-icon-lines-height)
		background-color: $this-icon-lines-color
		display: none

	&::before
		transform: rotate(-45deg)

	&::after
		transform: rotate(45deg)

	svg
		&:nth-child(1)
			display: none

	// hover
	.no-touchevents &:hover
		border-color: $link-color
		fill: $link-color

	// active
	&:active
		top: 1px

	// is open
	.is-open &
		svg
			&:nth-child(1)
				display: inline-block

			&:nth-child(2)
				display: none

.social-share__list
	display: block
	position: absolute
	top: 100%
	left: 0
	width: 100%
	opacity: 0
	visibility: hidden
	transition:
		property: opacity, visibility
		duration: $animation-speed

.social-share__item
	display: block
	margin: #{round($social-share-space/2)} 0
	+font(14px, round-float(18/14, 2))
	text-align: center
	opacity: 0
	transition:
		property: transform, opacity
		duration: $animation-speed + 0.2s

	+space($space: 10px)

	a
		display: block
		position: relative
		color: white
		fill: white
		transition:
			property: color
			duration: $animation-speed

// icons
.social-share__opener, .social-share__item
	span
		+hide-text

	svg
		+display-inline-block-top
		+size($social-share-size)

	path
		fill: inherit
		transition:
			property: fill
			duration: $animation-speed

// hover
.social-share__item
	a:hover
		&.fb
			border-color: $facebook-color
			fill: $facebook-color

		&.vk
			border-color: $vkontakte-color
			fill: $vkontakte-color

		&.twitter
			border-color: $twitter-color
			fill: $twitter-color

		&.ok
			border-color: $odnoklassniki-color
			fill: $odnoklassniki-color

		&.youtube
			border-color: $youtube-color
			fill: $youtube-color

		&.instagram
			border-color: $instagram-color-end
			fill: $instagram-color-end

.is-open
	.social-share__list
		opacity: 1
		visibility: visible

		.social-share__item
			opacity: 1
			transform: translate(0, 0)

			+delay($delay: 0.2s)

/* share end