@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/* HEADER
.header__holder
	position: relative
	padding: 10px 0
	+clear

/* logo
.logo
	display: block
	position: relative
	background: url(../../img/logo.png) no-repeat
	width: 172px
	height: 100px
	text-indent: -9999px
	overflow: hidden
	+push-auto
	z-index: 5

	a
		display: block
		height: 100%

/* logo end

/* slogan
.slogan
	position: absolute
	left: 0
	top: 0

/* slogan end
/* HEADER end